@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "mixin/_function";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  max-width: 1440px;
  margin:0 auto;
  font-family: 'Montserrat', sans-serif;
}
.container{
  max-width: 1120px;
  margin: 0 auto;
}


:root{
  --SkyBlueColor:  #62D0DF;
  --Transition: all .3s ease-in-out;
}

//HEADER


.header{
  background-color: #F4F9E2;
  background-image: url("../image/linkedin-sales-navigator-406825.png");
  background-repeat: no-repeat;
  background-position: 100% 100% ;
  &__container{
    @include displayFlex;
    min-height: 50px;

  }

//MENU
  .menu{
    padding: 50px 0;
    width: 233px;
   &__list{
     @include displayFlex;
   }
    &__link{
      padding: 10px;
      margin: 0 10px;
      font-size: 14px;
      line-height: 16px;
      color: #22356F;
    }
    &__link:hover{
      border-bottom: 1px solid black;
    }
  }
  .item{
  list-style: none;
  }
  .link{
  color: black;
    text-decoration: none;
  }

  .logo_link{
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: var(--SkyBlueColor);
  }

  //CONTACTS
  .contacts{
    .link{
      padding: 20px 30px;
      background-color: var(--SkyBlueColor);
      border-radius: 50px;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
      text-transform: uppercase;
      transition: var(--Transition);
      z-index: 50;
    }
    .link:hover{
      box-shadow: 0 0 3px grey;
    }
  }

  //CONTENT
  .content{
    margin: 170px 0 75px;
    max-width: 500px;
    .title{
      padding: 20px 0 50px;
      font-size: 43px;
      line-height: 53px;
      letter-spacing: -0.035em;
      color: #22356F;
    }
    .text{
      font-size: 22px;
      line-height: 42px;
      color: #22356F;
      padding-bottom: 63px;
    }
    @include buttons;
  }

}


//MAIN

.main{
  .thrive{
    display: flex;
    position: relative;
    color: white;
    &__left{
      background-color: var(--SkyBlueColor);
    }
    &__block{
      max-width: 550px;
    }
    &__left{
      width: 60%;
    }
    &__right{
      width: 40%;
    }

    @include box;
  }


  //ABOUT
.about {
  padding: 150px 0 0;

  &__container {
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
  }

  .text {
    &__title {
      position: absolute;
      top: 0;
      left: 106px;
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 0.06em;
      color: #22356F;
    }

    &__paragraph {
      max-width: 600px;
      text-align: left;
      font-size: 24px;
      line-height: 34px;
      letter-spacing: 0.005em;
      color: #22356F;

    }
  }

  &__title {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgba(34, 53, 111, 0.5);
    padding: 75px 0 25px;
  }

  &__card {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25%);
  }

  .card {
    &__item:first-child {
      background: #FFE2DE;
    }

    &__item:nth-child(2) {
      background: #C4E769;
    }

    &__item:nth-child(3) {
      background: #62D0DF;
    }

    &__item:last-child {
      background: #0052C1;
    }
  }

  .box {
    &__information {
      @include displayFlex;
      flex-direction: column;
      padding: 80px 50px 211px;

      .line {
        width: 100%;
        height: 2px;
        background-color: white;
      }
    }
  }

  .item {
    color: #E9B730;
    font-size: 32px;
    margin-top: 23px;
  }

  .item span {
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
    font-weight: bold;
  }


  //EXERCISES

  &__exercises {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .exercises {
    margin-top: 120px;

    &__item:first-child {
      background: #22356F;
    }

    &__item:nth-child(2) {
      background: #0052C1;
    }

    &__item:nth-child(3) {
      background-image: url("../image/joanna-kosinska-340748.jpg");
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }

    &__item:nth-child(4) {
      background: #62D0DF;
    }

    &__item:nth-child(5) {
      background: #DEE1FF;
    }

    &__item:last-child {
      background: #8F00FF;
    }

    .box {
      &__information {
        padding: 80px 50px 280px;
      }
    }

  }

  &__methodology {
    padding: 22px 0 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .methodology {
    &__box {
      padding: 77px 77px 37px 105px;
    }

    .box {
      &__title {
        padding-bottom: 28px;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: -0.03em;
        color: #22356F;
      }

      &__text {
        font-size: 16px;
        line-height: 25px;
        letter-spacing: -0.03em;
        color: rgba(34, 53, 111, 0.5);
      }
    }
  }
  //NOTE
  &__note{
    display: flex;
    position: relative;
  }
  .note{
    color: #22356F;
    &__left{
      width: 35%;
      img{
        display: flex;
        width: 100%;
      }
    }
    &__right{
      width: 65%;
    }
    @include box;
    &__block{
      max-width: 680px;
      margin-left: auto;
      padding-left: 30px;
    }
    .block{
      &__title{
        padding: 100px 0 225px;
        font-size: 16px;
        line-height: 12px;
        letter-spacing: 0.06em;
      }
      &__text{
        font-size: 30px;
        line-height: 53px;
        letter-spacing: -0.01em;
        font-weight: bold;
      }
    }
  .buttons{
    padding: 150px 0 50px;
    @include buttons;
    .link{
      color: #FAB63E;
      text-decoration: none;
    }
  }
  }
}
  //CONTACTS

  .section__contacts{
    display: flex;
    position: relative;
    color: white;
  }
  .contacts {
    @include box;
    &__left{
      width: 65%;
      background-color: #22356F;
    }
    &__right{
      width: 35%;
      img{
        width: 100%;
        display: flex;
      }
    }
    &__block{
      max-width: 680px;
      padding-left: 30px;
    }
    .block{
      &__heading{
        font-size: 64px;
        line-height: 94px;
        letter-spacing: -0.01em;
        padding: 150px 0 75px;
      }
      &__title{
        font-size: 16px;
        line-height: 12px;
        letter-spacing: 0.06em;
        padding-top: 100px;
      }
      &__text{
        font-size: 36px;
        line-height: 53px;
        letter-spacing: -0.005em;
      }
    }
    .buttons{
      padding: 80px 0 50px;
      @include buttons;
      .link{
        color: #FAB63E;
        text-decoration: none;
      }
    }
  }
}



// FOOTER //
.footer {


  &__top {
    display: flex;
  }

  .top {
    display: flex;
    justify-content: space-between;


    &__left {
      width: 40%;
    }

    .left {
      &__img {
        width: 100%;
        display: flex;
      }
    }

    &__right {
      width: 60%;
    }

    .right {
      &__box {
        padding: 100px 70px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;


      }

      .item {
        display: flex;
        align-items: start;
        flex-direction: column;

        &__title {
          font-size: 20px;
          line-height: 11px;
          letter-spacing: -0.006em;

          color: #22356F;

        }

        &__text {
          padding: 50px 0 0 0;
          font-size: 16px;
          font-weight: 700;
          line-height: 23px;

          letter-spacing: -0.006em;
          color: rgba(34, 53, 111, 0.5);
        }
      }
    }


  }

  .bottom {
    background: #62D0DF;
    &__copyright{
      font-size: 16px;
      letter-spacing: 0.007em;
      font-weight: 900;
      line-height: 11px;
      color: #FFFFFF;
      padding: 32px 0;

    }
  }
}
